/**--Khai bao bien--**/

//background
$bg-primary:#b61984;
$bg-dark: #000;
$bg-light: #fff;
$bg-warning: #ee5b54; 

//text màu chữ
$color-primary:#b61984;
$color-dark: #000;
$color-light: #fff;
$color-warning: #ee5b54; 
$color-danger: rgb(255, 0, 0);

//màu viền
$border-primary:#b61984;
$border-warning: #ee5b54;
$border-light:#fff;

//----------- kích thước (sizing) -------------
//font-size
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
$text-7xl: 70px;
$text-8xl: 80px;
//font-weight
$fw-light: 300;
$fw-base: normal;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-border: border;



//spacing
$p-0: 0rem;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;

$m-0: 0rem;
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 1.25rem;